*{
    margin: 0px;
}

.panel {
    width: 100%;
    background-color: #BBBBBB;
}

.divCanvas {
    display: block;
    overflow-x: hidden;
    height: 100%;
}

canvas {
    width: 350px;
    height: 350px;
    background-color: #EEEEEE;
}

input {
    margin-bottom: 10px;
    width: 100%;
}

p {
    margin-bottom: 10px;
}

.sidebar {
    float: right;
    padding: 10px;
    background-color: #EEEEEE;
}

.txtTime{
    width: 50px;
    height: 25px;
}

.txtRecord{
    width: 350px;
    height: 32px;
}

.txtSearchSymbols{
    width: 100%;
    height: 25px;
}

.symbolButton{
    border: 0px;
    background-color: transparent;
    border-radius: 10px;
    margin: 5px;
}

.symbolButton:hover{
    border: 10px;
    background-color: #93E4FF;
}

.symbolButton img{
    width: 50px;
}

.divBank{
  display: flex;
  flex-wrap: wrap;
  width: 235px;
  max-height: 473px;
  overflow: auto;
}

.divMessage{
  display: flex;
  flex-wrap: wrap;
  width: 210px;
  max-height: 500px;
  overflow: auto;
  border: 1px solid black;
  padding: 10px;
}

.btnImport{
    max-height: 25px;
}

.divHistory{
  display: flex;
  height: 145px;
  max-width: 875px;
  overflow-x: scroll;
  background-color: #EEEEEE;
  border: solid 2px;
  /* 2022-10-17: copied from https://stackoverflow.com/a/33158108/2336212 */
  position: fixed;
  bottom: 0px;
  left: 0px;
  z-index: 500;
}

.entryButton{
    border: 0px;
    background-color: transparent;
    border-radius: 10px;
    margin: 5px;
    width: 115px;
    min-width: 115px;
    min-height: 115px;
}
