*{
    margin: 0px;
}

.panel {
    width: 100%;
}

.divCanvas {
    display: block;
    overflow-x: hidden;
    height: 100%;
}

canvas {
    width: 100%;
    height: 100%;
    background-color: #EEEEEE;
}

input {
    margin-bottom: 10px;
    width: 100%;
}

p {
    margin-bottom: 10px;
}

.sidebar {
    float: right;
    padding: 10px;
}

.txtSearchSymbols{
    width: 100%;
    height: 25px;
}

.symbolButton{
    border: 0px;
    background-color: transparent;
    border-radius: 20px;
}

.symbolButton:hover{
    border: 10px;
    background-color: #93E4FF;
}
