*{
    margin: 0px;
}

.panel {
    width: 100%;
    background-color: #BBBBBB;
}

.divCanvas {
    display: block;
    overflow-x: hidden;
    height: 100%;
}

canvas {
    width: 350px;
    height: 350px;
    background-color: #EEEEEE;
}

input {
    margin-bottom: 10px;
    width: 100%;
}

p {
    margin-bottom: 10px;
}

.sidebar {
    float: right;
    padding: 10px;
    background-color: #EEEEEE;
}

.txtTime{
    width: 50px;
    height: 25px;
}

.txtSearchSymbols{
    width: 100%;
    height: 25px;
}

.symbolButton{
    border: 0px;
    background-color: transparent;
    border-radius: 10px;
    margin: 5px;
}

.symbolButton:hover{
    border: 10px;
    background-color: #93E4FF;
}

.symbolButton img{
    width: 50px;
}

.divBank{
  display: flex;
  flex-wrap: wrap;
  width: 235px;
  max-height: 500px;
  overflow: auto;
}

.divMessage{
  display: flex;
  flex-wrap: wrap;
  width: 210px;
  max-height: 500px;
  overflow: auto;
  border: 1px solid black;
  padding: 10px;
}
